:root {
    --primary-main-bg-color: #ffffff;
    --btn-main-color: #2874f1;
    --letter-spacing: 0.2px;
    --font-weight-large-large: 700;
    --font-weight-medium: 500;
    --product-offer-color: #488d49;
    --offer-name-color: #a4a4a4;
    --black-color: #000000;
}


#new-beginning:hover {
    filter: brightness(90%);
}

.main-containor{
    padding-top: 56px;
    box-sizing: border-box;
}

.main__products {
    min-height: 126px;
    box-sizing: border-box;
    max-width: 100%;
    gap: 0.7rem;
    background-color: var(--primary-main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

a:link {
    text-decoration: none;
}

.main__products--section {
    box-sizing: border-box;
    padding: 16px 16px 16px 24px;
    display:flex;
    min-width: 90px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.left-aerow  {
    display: none;
}

:focus {
    padding: 4px;
}

.products__title--style > svg {
    height: 35px;
    width: 35px;
}

.products__title--style{
    min-width: 100%;
    text-align: center;
    font-weight:bolder;
    font-weight: var(--font-weight-medium);
    font-size: 14px;
    flex-direction: row;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.products__title--style:hover {
    color: var(--btn-main-color);
}

.main__container-2 {
    margin: 0rem 0.75rem;
    width: 100%;
    height: 369px;
    max-width: 1600px;
    margin: 18px auto;
    display:flex;
    justify-content: space-between;
    gap: 1rem;
}


.container-2__deals-title {
    padding: 14px;
    box-sizing: border-box;
    background-color: var(--primary-main-bg-color);
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1pt solid #b7b1bb;
}

.container-2__left-sec {
    position: relative;
    background-color: var(--primary-main-bg-color);
    overflow: hidden;
    display:flex;
    flex-direction: column;
}

.deals-title__left-sec {
    gap: 15px;
    font-size: 22px;
    letter-spacing: var(--letter-spacing);
    display:flex;
    justify-content: center;
    align-items: center;
}

.deals-title__left-sec-con-3 {
    gap: 0.5rem;
    font-size: 22px;
    letter-spacing: var(--letter-spacing);
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.deals-title__title {
    font-weight: var(--font-weight);
}

#time-clock-text {
    font-size: 16px;
    color: #958a9d;
}

#shop-now-style {
    font-size: 12px;
    color: #958a9d;
}

.view-all-btn {
    border: none;
    background-color: var(--btn-main-color);
    color: var(--primary-main-bg-color);
    height: 40px;
    width: 6.5rem;
    border-radius: 2px;
    font-size: 12px;
    font-weight: var(--font-weight);
    cursor: pointer;
}

.view-all-btn:hover {
    box-shadow: 2px 2px 5px grey;
}

.left-sec__products::-webkit-scrollbar { width: 0;}

.left-sec__products {
    width: 100%;
    overflow: auto;
    /* overflow-y: hidden; */
    box-sizing: border-box;
    letter-spacing: var(--letter-spacing);
    gap: 1.1rem;
    padding-top: 16px;
    padding-bottom: 4px;
    display:flex;
    justify-content: space-evenly;
}



.products__details {
    min-width: 176px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    gap: 0.5rem;
}

.products__details > img {
    width: 152px;
    object-fit: contain;
    padding: 2px;
    box-sizing: border-box;
}

.products__details > img:hover  {
    padding: 0px;
}

.product-brands {
    color: var(--black-color);
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--font-weight-medium);
}

.product-brands:hover {
    text-decoration: underline;
}

.product-offer {
    color: var(--product-offer-color);
}

.product-offer:hover {
    text-decoration: underline;
}

.offer-name {
    color: var(--offer-name-color);
}

.offer-name:hover{
    text-decoration: underline;
}

.text-align {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.container-2__right-sec {
    box-sizing: border-box;
    height: 100%;
    padding: 2px 2px 1px 2px;
    padding-bottom: 1px;
    background-color: var(--primary-main-bg-color);
}

.scroll-aero {
    z-index: 1;
    height: 5.7rem;
    width: 2.6rem;
    background-color: #Fffff4;
    display:flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow:  -1px 10px 20px #4d4c4c;
    border-radius: 3px 0px 0 3px;
    position: absolute;
    right: 0%;
    top: 39%;
}

.product-style {
    box-sizing: border-box;
    padding-left: 12px;
    letter-spacing: var(--letter-spacing);
    gap: 0.5rem;
    display:flex;
    justify-content: space-evenly;
}

.main__container-3 {
    background-color: var(--primary-main-bg-color);
    box-sizing: border-box;
    margin: 0rem 0.75rem;
    max-width: 1600px;
    height: 380px;
    margin: 1vw auto;
    gap: 1rem;
    flex: 1;
}

.container-3__products-style {
    width: 100%;
    padding: 10px 4px 10px 10px;
    box-sizing: border-box;
    overflow: auto;
    letter-spacing: var(--letter-spacing);
    gap: 2.1rem;
    padding-top: 16px;
    box-sizing: border-box;
    display:flex;
}

.container-3__deals-title {
    box-sizing: border-box;
    padding: 14px;
    background-color: var(--primary-main-bg-color);
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1pt solid #b7b1bb;
}


.left-sec__products > a {
    width: 100%;
}

@media (max-width:845px) {

    .main__products{
        justify-content: flex-start;
    }
}

@media (max-width:800px) {
    .main__container-2 {
        display: inline;
        margin: 18px;
    }

    .left-sec__products {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }
    .container-3__products-style {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    .container-3__products-style > a {
        width: 100%;
    }
    .scroll-aero {
        display: none;
    }
    .container-2__right-sec {
        display: none;
    }
    .products__details > img {
        height: 60px;
        width: 60px;
    }
    .products__details {
        justify-content: flex-start;
        flex-direction: row;
    }
    .product-offer {
        display: none;
    }

    .left-aerow {
        display: inline;
    }

    .product-style {
        padding: 20px 30px 20px 30px;
        box-sizing: border-box;
        width: 100%;
        flex: 1;
        display:flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #e0e0e0;;
    }
    .text-align {
        align-items: start;
    }
} 
